html,
body {
  font-family: poppins, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  @apply text-text bg-white;
  font-size: 14px;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  -webkit-text-size-adjust: 100%;
}

// main {
//   transform: translateZ(0);
// }

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: calc(1160px + 20vw);
  padding: 0 10vw;
  &.wrapper-md {
    max-width: calc(930px + 20vw);
  }
  @media (max-width: 800px) {
    padding: 0 25px;
  }
}

@mixin letter-spacing($spacing) {
  letter-spacing: calc(-1em * 0.001 * #{$spacing});
}

h1,
.h1 {
  font-size: responsive 43px 48px;
  letter-spacing: -0.035em;
  line-height: 1.1em;
  @apply text-white;
}

h2,
.h2 {
  font-size: responsive 23px 25px;
  @apply text-white;
}

h3,
.h3 {
  font-size: 22px;
  @apply font-bold;
}

h4,
.h4 {
  font-size: 15px;
}

h5,
.h5 {
  font-size: 13px;
}

h6,
.h6 {
  font-size: 13px;
}

.text-sm {
  font-size: 14px;
}
.text-xl {
  font-size: 24px;
}
p,
.p {
  font-size: 16px;
  line-height: 1.5;

  margin-bottom: 1em;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.text-xs {
  font-size: 13px;
  @include letter-spacing(-0.3);
}

img.lazyload:not([src]) {
  visibility: hidden;
}
.stat-row {
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
}
.news-block {
  h3 {
    margin-bottom: 2rem;
  }
}
.wysiwyg {
  p {
    line-height: 2em;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

a:not([class]) {
  text-decoration: underline;
  &:hover {
    opacity: 0.7;
  }
}

.main-footer a {
  white-space: nowrap;
}

.province-select {
  overflow: hidden;
  .flickity-viewport {
    overflow: visible;
  }
}

@keyframes blurin {
  from {
    // filter: blur(30px);
    transform: scale(2);
    opacity: 0;
  }
  to {
    filter: none;
    opacity: 1;
  }
}

.in {
  display: inline-block;
  position: relative;
  span:first-child {
    display: inline-block;
  }
  span:last-child {
    pointer-events: none;
    left: 0;
    top: 6%;
    bottom: 0;
    height: 106%;
    position: absolute;
    margin: auto;
    @apply text-text;
    clip-path: polygon(0 100%, 0 100%, 0 0, 0 0);
  }
}

@for $i from 1 to 10 {
  .in:nth-of-type(#{$i}) span:last-child {
    animation: in 2s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    // animation-delay: $i * 0.5s;
    animation-delay: 1.5s;
  }
}

@keyframes in {
  from {
    clip-path: polygon(0 100%, 0 100%, 0 0, 0 0);
  }
  to {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

// .marquee {
//   animation: marquee 20s linear infinite alternate;
//   &:nth-of-type(2) {
//     animation: marquee 30s linear infinite alternate-reverse;
//   }
//   &:nth-of-type(3) {
//     animation: marquee 30s linear infinite alternate;
//   }

//   h2 {
//     transition: color 2s cubic-bezier(0.55, 0, 0.1, 1);
//     &:hover {
//       transition: color 0.15s cubic-bezier(0.55, 0, 0.1, 1);
//     }
//   }
// }

#header {
  @media (max-width: 800px) {
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
    .header-hide {
      display: none;
      opacity: 0;
    }
  }
}
.mega-nav {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.mega-nav.open {
  opacity: 1;
  visibility: visible;
  display: block;
}
.accordion__content {
  max-height: 0em;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}
input[name="panel"]:checked ~ .accordion__content {
  /* Get this as close to what height you expect */
  max-height: 50em;
  z-index: 100;
  left: 0;
}

input[name="panel"] ~ label {
  transition: ease-in-out 2s;
  transition-duration: 300ms;
}

input[name="panel"]:checked ~ label {
  color: #81fbcf;
  background: #3c3c3b;
  transition: ease-in-out 2s;
  transition-duration: 200ms;
}

.nav-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  @media (max-width: 768px) {
    display: block;
  }
}

.div1 {
  grid-area: 1 / 1 / 4 / 4;
}
.div2 {
  grid-area: 4 / 1 / 5 / 5;
  .service-link {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 0;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
  }
  .service-link:hover {
    &::before {
      height: 100%;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
  }
  .border-lime {
    &::before {
      @apply bg-lime;
    }
  }
  .border-pink {
    &::before {
      @apply bg-pink;
    }
  }
  .border-yellow {
    &::before {
      @apply bg-yellow;
    }
  }
}
.div3 {
  grid-area: 2 / 4 / 4 / 5;
}
.menu-header {
  padding-right: 3em;
  padding-left: 3em;
  padding-top: 30px;
}
.nav-item {
  transition: opacity 0.25s ease-in-out;
  margin-bottom: 10px;
}
.navbar-nav:hover .nav-item {
  opacity: 0.25;
}

.navbar-nav:hover .nav-item:hover {
  opacity: 1;
  a {
    @apply text-text;
  }
}
.contact-nav {
  transition: opacity 0.25s ease-in-out;
}
.contact-nav:hover {
  transition: opacity 0.25s ease-in-out;
  @apply text-lime;
}
@mixin fade($item, $time) {
  -webkit-transition: $item $time cubic-bezier(0.4, 0, 0.2, 1);
  transition: $item $time cubic-bezier(0.4, 0, 0.2, 1);
}
.text-col {
  ul {
    padding-left: 20px;
    margin-bottom: 20px;
    li {
      list-style: initial;
      margin-bottom: 15px;
    }
  }
}
