[data-action="ProjectCard"] {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  &.clip {
    // clip-path: polygon(5% 5%, 95% 5%, 95% 95%, 5% 95%);
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
  }
}

.blur-in {
  opacity: 0;
  transform: scale(0.9);
  filter: blur(2px);
  will-change: filter;

  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  &.inview {
    transform: scale(1);
    opacity: 1;
    filter: none;
  }
}

.stroke {
  -webkit-text-stroke: 1px #3c3c3b;
  -webkit-text-fill-color: transparent;
}
