*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  -webkit-text-size-adjust: 100%;
}

// body {
//   /* make the body fits our viewport */
//   position: relative;
//   width: 100%;
//   height: 100vh;
//   margin: 0;
//   background-color: rgba(0, 0, 0, 1);
// }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

#canvas,
#canvas2 {
  /* make the canvas wrapper fits the document */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
  opacity: 0.9;
}

.planes {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40vh;
  user-select: none;
  position: relative;
  cursor: grab;
  white-space: nowrap;
  overflow: hidden;
}

.draggable-container {
  position: absolute;
  height: 100%;
}

.draggable-visible {
  display: grid;
  grid-template-columns: repeat(8, minmax(380px, 1fr));
  height: 100%;
  grid-column-gap: 100px;
}

.draggable-hidden {
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
}

.draggable-hidden .item {
  height: 100%;
}

.grabbing {
  cursor: grabbing;
}

.plane img {
  /* hide the img element */
  // display: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

img:not([src]) {
  visibility: hidden;
}
