{%- minify -%}
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
		<meta name="referrer" content="origin-when-cross-origin"/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{siteUrl}}apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{siteUrl}}favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{siteUrl}}favicon-16x16.png">
		<link rel="manifest" href="{{siteUrl}}site.webmanifest">
		<link rel="mask-icon" href="{{siteUrl}}safari-pinned-tab.svg" color="#5bbad5">
		<link rel="stylesheet" href="https://use.typekit.net/kwt0gdy.css">

		<style>
			.hidebeforeload {
				display: none;
			}
		</style>

		{{ craft.twigpack.includeCssModule("app.css") }}

	</head>


	<body
		class="" data-barba="wrapper">
		{# <img class="{% if entry is defined and entry.slug == 'homepage' %} hidden {% endif %}{% if craft.entries.section('blog')%} block {% elseif craft.entries.section('service') %} block {% endif %}w-full object-contain opacity-70 absolute top-0 left-0 z-10" src="{{ siteUrl }}images/bg-wiggles.png" alt=""> #}

		<main data-barba="container" data-barba-namespace="{{ namespace | default('home') }}">
			<div data-action='Animations' class='page-height'> {% block content %}{% endblock %}
				</div>

			</main>
			<script>
				window.siteUrl = "{{ siteUrl }}"
			</script>

			{# <script src='https://www.curtainsjs.com/build/curtains.min.js'></script> #}

			{{ craft.twigpack.includeSafariNomoduleFix() }}
			{{ craft.twigpack.includeJsModule("chunk-vendors.js", true, { async: true, defer: true }) }}
			{# {{ craft.twigpack.includeJsModule("chunk-jquery.js", true, { async: true, defer: true }) }} #}
			{{ craft.twigpack.includeJsModule("app.js", true) }}

		</body>
	</html>
	{%- endminify -%}
