{% extends "_layout.twig" %}
{% block content %}
	<section>
		<div class="w-full relative h-full">
			<div class="w-[160%] grid md:w-full h-screen relative z-0">
				<img class="h-full max-h-screen w-full object-cover" src="{{ siteUrl }}images/background.jpg" alt="Innovate.je">
			</div>
			<div class="absolute bg-black w-full md:w-auto bg-opacity-40 px-10 py-20 bottom-0 right-0 md:mr-[5%] lg:mr-[10%] md:mb-40">
				<h1 class="uppercase mb-5">New website coming soon</h1>
				<h2>Please contact
					<a class="no-underline hover:text-green-600" href="mailto:lawrence@innovate.je">lawrence@innovate.je</a>
					for enquiries
				</h2>
			</div>
		</div>
	</section>

{% endblock %}
