@import "tailwindcss/base";

@import "css/index.scss";
@import "css/flickity.scss";
@import "css/webgl.scss";
@import "css/project.scss";

@import "tailwindcss/components";
@import "tailwindcss/utilities";

.oh {
  overflow: hidden;
}

hr {
  border-color: #160638;
  transform: scaleY(0.5);
}

.featured .flickity-viewport {
  overflow: visible;
}

::selection {
  @apply bg-lime text-text;
  // color: white;
}

.col2 {
  @media (min-width: 700px) {
    column-count: 2;
    column-gap: 40px;
  }
}

@keyframes price {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.price-open {
  animation: price 0.3s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}

.bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 0;
  transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

section {
  position: relative;
}

.animated-logo {
  rect {
    transition: all 0.2s ease-in;
    fill: #fff;
  }
}

@keyframes letter {
  from {
    opacity: 0;
    // transform: translateY(100px) scale(0.8);
    transform: translateY(1em) scale(0.8);
  }
  to {
    opacity: 1;
    transform: none;
    filter: none;
  }
}

.home-intro__logo {
  position: relative;
  top: -0.1em;
}

[data-action="TextAnim"] {
  opacity: 0;
}

$easing: cubic-bezier(0, 1, 0.45, 1); // my custom
// $easing: cubic-bezier(0.55, 0, 0.1, 1); // swift out
// $easing: cubic-bezier(0, 0.55, 0.45, 1); // circ out

.ta-letter {
  opacity: 0;
  animation: letter 2s $easing forwards;
  top: -0.1em;
  position: relative;
}

.ta-word {
  overflow: hidden;
  display: inline-flex;
  margin-right: 0.15em;
  position: relative;
}

@keyframes ta-color {
  from {
    color: currentColor;
  }
  to {
    @apply text-text;
  }
}

.ta-color {
  animation: ta-color 1s ease-out forwards;
  animation-delay: 2s;
}

.flickity-button {
  z-index: 100;
}

section {
  /* Enable hardware acceleration to fix laggy transitions */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.team-slider {
  img {
    transition: opacity 0.5s ease-out;
  }
}

.masonry {
  & > div {
    margin: 5px;
  }
}

.page-height {
  min-height: calc(100vh - 86px);
}
